.Projects {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  z-index: 10;
  border-top: 5px solid #00203fff;
}

.Projects hr {
  width: 150px;
  border: none;
  height: 2px;
  margin-bottom: 70px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.Projects h1 {
  margin: 100px 0 0 0;
  text-align: center;
  font-size: 3rem;
}

.Projects .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(2, 400px);
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.Projects .box {
  background-color: gray;
  color: white;
  font-size: 2rem;
  border: 2px solid black;
  width: 500px;
  height: 400px;
}
