.Projects {
  text-align: center;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #0f0f0f;
  z-index: 10;
  border-top: 5px solid #8c6f49;
}

.Projects h1 {
  text-align: center;
  color: #222222;
  font-size: 7rem;
  font-weight: 700;
  margin: 100px 20px;
}

.Projects .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Projects button {
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  font-size: 1.2rem;
}
.Projects button:hover {
  opacity: 1;
  background-color: white;
}

.jammingBox,
.redditBox {
  margin: 0 20px;
}

.Projects .jammingBox {
  position: relative;
  background: url("../../assets/jammming.jpg");
  background-position: center;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  height: 350px;
  width: 400px;
  z-index: 5;
  border: 2px solid white;
  filter: grayscale(0.8);
}

.jammingBox:hover,
.redditBox:hover {
  position: relative;
  filter: grayscale(0);
  z-index: 18;
}

.jammingBox p {
  position: absolute;
  font-weight: 500;
  top: 30%;
  left: 30%;
}

.jammingBox button,
.redditBox button,
.portfolioBox button {
  position: absolute;
  bottom: 10px;
  left: 30%;
  cursor: pointer;
}

.redditBox,
.portfolioBox,
.portfolioBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  filter: grayscale(0.8);
  border-radius: 5px;
  color: white;
  height: 350px;
  width: 400px;
  z-index: 5;
  border: 2px solid white;
}

.redditLogo {
  border: 3px solid #ff4500;
  border-radius: 100%;
  margin-right: 5px;
  background-color: white;
}

svg path {
  fill: #ff0000;
}

.imgContainer {
  max-height: 400px;
  margin-right: 20px;
}

.projectJammmingImg,
.projectRedditImg {
  max-width: 500px;
  max-height: 100%;
  margin-bottom: 10px;
}

.techUsed {
  display: flex;
  flex-wrap: wrap;
}

.techUsed p {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  font-size: 0.6rem;
}

.portfolioBox p {
  font-family: "Niconne", cursive;
  font-size: 3rem;
}

.btnContainer a {
  margin: 10px;
}

.projectLinks {
  text-decoration: none;
  border: 2px solid rgb(68, 68, 68);
  padding: 5px;
  border-radius: 4px;
  color: rgb(68, 68, 68);
}

.projectLinks:hover {
  background-color: #ddb786;
  color: white;
}

@media only screen and (max-width: 1011px) {
  .Projects {
    height: fit-content;
  }
  .Projects .container {
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 150px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 680px) {
  .Projects h1 {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .jammingBox,
  .redditBox {
    margin: 0;
    border: none;
  }
}
