.Landing {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
}

.Landing .intro {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  color: white;
}

.Landing .greeting {
  width: 50%;
  font-family: Montserrat;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  animation-name: slideFromLeft;
  animation-duration: 1.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: visible;
  }
  70% {
    transform: translateX(10%) skewY(5deg);
  }

  100% {
    transform: translateX(0);
    opacity: 1s;
  }
}

.Landing button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.7rem;
  padding: 30px 60px;
  border-radius: 25px;
  background-color: #adefd1ff;
  color: #5b84b1ff;
  border: none;
  animation-name: slideFromRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1s;
  }
}

.Landing button:hover {
  transition: all 0.5s;
  color: white;
  cursor: pointer;
  background-color: rgb(133, 182, 159);
}

.Landing figure {
  margin: 0;
}

.Landing img {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.1);
}
.Landing .tint {
  position: relative;
  margin-bottom: 20px;
}

.Landing .tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 80, 107, 0.568);
  opacity: 0.95;
}
