.NavBar {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: flex-end;
  height: 80px;
}

@media only screen and (max-width: 361px) {
  .NavBar {
    width: 110vw;
  }
}

@media only screen and (max-width: 280px) {
  .NavBar {
    width: 135vw;
  }
}
