.About {
  position: relative;
  width: 100%;
  top: 100vh;
  background-color: white;
  border-top: 5px solid #00203fff;
}

.About h1 {
  margin: 50px 0 0 0;
  text-align: center;
  font-size: 2.5rem;
}

.About hr {
  width: 150px;
  border: none;
  height: 2px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.About .bio {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.About .background,
.About .skills {
  width: 35%;
}
