.About {
  background-color: #161617 !important;
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: fit-content;
  z-index: 10;
  color: #ebb97a;
}

.About h1 {
  text-align: center;
  color: #222222;
  font-size: 7rem;
  font-weight: 700;
  margin: 20px 0;
  order: 1;
}

.About .bio {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 0 2%;
  font-size: 1.5rem;
}

.About .bioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.About .background {
  width: 25%;
  margin-right: 50px;
  align-self: flex-start;
}

.About .skills {
  border-radius: 4px;
  padding: 0 40px 40px 40px;
  width: 15%;
  font-size: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.About .skills h2 {
  display: flex;
  justify-content: center;
}

.About .skillIcons {
  display: flex;
  font-size: 2.5rem;
}

.About .skillIcons i {
  margin: 10px;
}

.About .introHeading {
  color: white;
  letter-spacing: 5px;
  font-size: 1rem;
}

.About .introName {
  background: #ebb97a;
  font-size: 2rem;
  color: white;
  padding: 20px;
  margin: 0;
  width: 400px;
}

.About .introParagraph {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(196, 194, 194);
}

.About .ImgContainer img {
  margin: 10px 40px;
  width: 600px;
  filter: grayscale(0.85);
  -webkit-filter: grayscale(0.85);
  order: 2;
}

@media only screen and (max-width: 1671px) {
  .About {
    height: fit-content;
  }
  .About .bioContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .About .bioContainer .background {
    width: 600px;
  }

  .About .bioContainer .skills {
    order: 10;
  }

  .About h1 {
    order: 1;
  }

  .About .ImgContainer img {
    order: 2;
  }

  .About .bioContainer .background {
    order: 3;
    margin: 0;
    align-self: auto;
  }
}

@media only screen and (max-width: 681px) {
  .About h1 {
    font-size: 4.5rem;
  }

  .About .ImgContainer img {
    max-width: 400px;
    height: auto;
    width: auto;
  }

  .About .introParagraph,
  .About .introHeading {
    width: 60%;
    margin: 10px auto;
    font-size: 1.2rem;
  }

  .About .introName {
    font-size: 1.5rem;
    margin-left: 90px;
    width: 300px;
  }
}

@media only screen and (max-width: 412px) {
  .About h1 {
    font-size: 4rem;
  }

  .About .ImgContainer img {
    max-width: 100%;
    margin: 0;
    height: auto;
    width: auto;
  }

  .About .introParagraph,
  .About .introHeading {
    width: 50%;
    font-size: 1.2rem;
  }

  .About .introName {
    font-size: 1.5rem;
    width: 300px;
    margin: 0 auto;
  }

  .About .skills {
    width: 70%;
  }

  .About .skills i {
    font-size: 1.65rem;
  }
}

@media only screen and (max-width: 320px) {
  .About h1 {
    font-size: 4rem;
  }

  .About .ImgContainer img {
    max-width: 100%;
    margin: 0;
    height: auto;
    width: auto;
  }

  .About .introParagraph,
  .About .introHeading {
    width: 50%;
    font-size: 1.2rem;
  }

  .About .introName {
    font-size: 1.2rem;
  }

  .About .skills {
    width: 70%;
  }

  .About .skills i {
    font-size: 1.65rem;
  }
}
