.About {
  background-color: #161617 !important;
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 800px;
  z-index: 10;
  color: #8f6e45;
  border-top: 5px solid #161617;
}

.About h1 {
  text-align: center;
  color: #222222;
  font-size: 7rem;
  font-weight: 700;
  margin: 0 0 100px 0;
}

.About hr {
  width: 150px;
  border: none;
  height: 1px;
  margin-bottom: 70px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    black 0%,
    #8f6e45 10%,
    #8f6e45 90%,
    black 100%
  );
}

.About .bio {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 70px auto;
  font-size: 1.5rem;
}

.About .background {
  width: 30%;
}

.About .skills {
  border-radius: 4px;
  padding: 0 40px 40px 40px;
  width: 15%;
  font-size: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.About .skills h2 {
  display: flex;
  justify-content: center;
}

.About .skillIcons {
  display: flex;
  font-size: 2.5rem;
}

.About .skillIcons i {
  margin: 10px;
}

.About .introHeading {
  color: white;
  letter-spacing: 5px;
  font-size: 1rem;
}

.About .introName {
  background: #8f6e45;
  font-size: 2rem;
  color: white;
  padding: 20px;
  margin: 0;
}

.About .introParagraph {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(196, 194, 194);
}
