.Contact {
  text-align: center;
  position: relative;
  font-size: 1.3rem;
  width: 100%;
  height: 900px;
  background-color: #ebb97a;
  z-index: 10;
  border-top: 5px solid #161617;
}

.boxContainer {
  width: 600px;
  margin: 50px auto;
  padding: 2px 0;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 5px;
}

.Contact .boxContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #161617;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-72deg);
  -ms-transform: skew(-72deg);
  transform: skew(-72deg);
  z-index: -1;
}

.Contact h1 {
  color: white;
  margin: 0;
}

.Contact p {
  margin-bottom: 40px;
  color: rgb(194, 194, 194);
  font-size: 1.45rem;
}

.Contact form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto;
}

.Contact button {
  width: 150px;
  height: 70px;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 25px;
  border: 4px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.Contact button:hover {
  transition: all 0.5s;
  color: white;
  background-color: black;
  border: black;
}

.Contact input,
.Contact textarea {
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 612px) {
  .Contact .boxContainer {
    width: 500px;
  }

  .Contact form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 411px) {
  .Contact .boxContainer {
    width: 100%;
  }

  .Contact form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px auto;
  }
}
