.Footer {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  background-color: #161617;
  color: white;
}

.Footer .Links i {
  font-size: 1.3rem;
  color: white;
  margin-right: 15px;
  height: 100%;
}

.Footer i:hover {
  color: #adefd1ff;
}
