.NavItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.NavItems ul {
  display: flex;
  margin: 20px;
  padding: 0;
  align-items: center;
}

.NavItems li {
  list-style: none;
}

.NavItems li:hover,
.NavItems li a:hover {
  transition: all 0.5s;
  color: #adefd1ff;
  transform: scale(1.1);
}

.Logo {
  margin: 60px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  border: 10px double #00203fff;
  border-radius: 50%;
  padding: 0 20px;
}

.Logo a {
  text-decoration: none;
  color: #00203fff;
}

.Logo a:hover,
.Logo h1:hover {
  transition: all 0.5s;
  color: rgb(133, 182, 159);
  transform: scale(1.2);
}
