.NavItems {
  width: 100%;
  background-color: #0f0f0f;
}

.NavItemsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}

.NavItems ul {
  display: flex;
  padding: 0;
  align-items: center;
}

.NavItems li {
  list-style: none;
}

.NavItems li:hover,
.NavItems li a:hover {
  transition: all 0.5s;
  color: #8c6f49;
}

.Logo {
  display: flex;
  align-items: center;
  margin: 0;
  height: 80px;
}
.Logo a {
  text-decoration: none;
  color: white;
  border-bottom: 4px solid #8c6f49;
  margin: 0 30px;
  height: 100%;
}

.Logo a:hover,
.Logo:hover {
  transition: all 0.5s;
  background-color: #8c6f49;
  color: black;
}

.NavItems .Links i {
  font-size: 1.5rem;
  color: white;
  margin-right: 25px;
  height: 100%;
}

.NavItems i:hover {
  color: #8c6f49;
}

@media only screen and (min-width: 501px) and (max-width: 630px) {
  .Logo {
    font-size: 0.8rem !important;
    margin-left: 10px;
  }

  .NavItems .Links i {
    font-size: 0.8rem;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .Logo {
    font-size: 0.6rem;
    margin-left: 10px;
  }

  .NavItems .Links i {
    font-size: 0.6rem;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 332px) {
  .Logo {
    font-size: 0.5rem;
    margin-left: 10px;
  }

  .NavItems .Links i {
    font-size: 0.5rem;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 297px) {
  .Logo {
    font-size: 0.49rem;
    margin-left: 10px;
  }

  .NavItems .Links {
    display: flex;
    flex-direction: column;
  }

  .NavItems .Links i {
    font-size: 0.5rem;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 257px) {
  .Logo {
    font-size: 0.3rem;
    margin-left: 10px;
  }

  .NavItems .Links {
    display: flex;
    flex-direction: column;
  }

  .NavItems .Links i {
    font-size: 0.4rem;
  }
}
