.NavItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.NavItems ul {
  display: flex;
  margin: 20px;
  padding: 0;
  align-items: center;
}

.NavItems li {
  list-style: none;
  letter-spacing: 1px;
}

.NavItems li:hover,
.NavItems li a:hover {
  transition: all 0.5s;
  color: #adefd1ff;
  transform: scale(1.2);
}

.Logo {
  margin: 60px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #5b84b1ff;
  border: 10px double #5b84b1ff;
  border-radius: 50%;
  padding: 0 20px;
}
